@page
@model IndexModel
@inject SuperCoolBooks.Data.SuperCoolBooksContext _context

@{
    ViewData["Title"] = "Home page";
}


<form method="get">
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search..."  aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
</div>
</form>


@if(Model.RandomBook != null)
{
    @*Container for the top selected / random book. A larger field and more information.*@
    <div class="container" onclick="redirectToDetailsPage()">
        @*JAVASCRIPT - click on the div to get to book-detailspage*@
    <script>
        function redirectToDetailsPage() {
            var bookId = '@Model.RandomBook.BookId';
                window.location.href = './Books/Details?id=' + bookId;
        }
    </script>

        <div class="row" style="background-color: #f2f2f2; justify-content: center; padding: 3%;">

            <div class="col-md-4">

                <img src="~/images/book-images/@Model.RandomBook.ImagePath" style="height:300px;width:300px" />
            </div>
            <div class="col-md-8">
              
                    @if (Model.RandomBook != null)
                    {
                    <!-- Print TITLE -->
                    <p>Titel: @Model.RandomBook.Title</p>
                    <!-- Print AUTHOR -->
                    <p>Author:
                           @foreach (var item in Model.RandomBook.AuthorBooks)
                           {
                                @item.Author.FirstName

                           }
                      &#32; <!-- &#32 = This is a whitespace -->

                           @foreach (var item in Model.RandomBook.AuthorBooks)
                           {
                                @item.Author.LastName
                           }
                    </p>
                    <!-- Print GENRE -->
                    <p>Genre: 
                         @foreach (var item in Model.RandomBook.BookGenres)
                         {
                                @item.GenresGenre.Title
                         }
                    </p>
                    }
                    else
                    {
                    <p>No results found.</p>
                    }
            </div>
        </div>
    </div>
}

@if (Model.Books != null){
@*Container for the other books. A responsive grid.*@
  <div class="container">
    <div class="row">
        @foreach (var item in Model.Books){
                <div class="col-md-4" onclick="redirectToDetailsPage2(this)"
             style="background-color: #f2f2f2; padding: 3%
                "data-bookid="@item.BookId";>
        @*JAVASCRIPT - click on the div to get to book-detailspage*@
       <script>
           function redirectToDetailsPage2(element) {
           var bookId = element.getAttribute("data-bookid");
           window.location.href = './Books/Details?id=' + bookId;
                        }
    </script>
                    <img src="~/images/book-images/@item.ImagePath" style="height:80%; style="height:250px;width:250px" />
    
        <!-- Print TITLE -->  
        <p>Titel: 
                @Html.DisplayFor(modelItem => item.Title)
        </p>
        <!-- Print AUTHOR -->  
        <p>Author:
              @foreach (var item2 in item.AuthorBooks)
              {
                   @item2.Author.FirstName
              }
           &#32; <!-- &#32 = This is a whitespace -->
             @foreach (var item2 in item.AuthorBooks)
             {
                   @item2.Author.LastName
             }      
      </div>
        }
    </div>
  </div>
}
