@page
@model SuperCoolBooks.Pages.Admin.Book.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @{
                var bookType = typeof(Models.Book);
                var properties = bookType.GetProperties();
            }
            @foreach (var property in properties)
            {
                <p>@property.Name</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for=@Html.DisplayFor(modelItem => item.UserId) class="control-label"></label>
                    <select asp-for=@Html.DisplayFor(modelItem => item.UserId) class="form-control" asp-items="ViewBag.UserId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Author.AuthorId" class="control-label"></label>
                <select asp-for="Author.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>

            <div class="form-group">
                <label asp-for="Genre.GenreId" class="control-label"></label>
                <select asp-for="Genre.GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>

            <div class="form-group">
                    <label asp-for="@Html.DisplayFor(modelItem => item.Title)" class="control-label"></label>
                    <input asp-for="@Html.DisplayFor(modelItem => item.Title)" class="form-control" />
                    <span asp-validation-for="@item.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="@item.Description" class="control-label"></label>
                    <input asp-for="@item.Description" class="form-control" />
                    <span asp-validation-for="@item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="@item.ISBN" class="control-label"></label>
                    <input asp-for="@item.ISBN" class="form-control" />
                    <span asp-validation-for="@item.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="@item.ImagePath" class="control-label"></label>
                    <input asp-for="@item.ImagePath" class="form-control" />
                    <span asp-validation-for="@item.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                        <input class="form-check-input" asp-for="@item.isDeleted" /> @item.isDeleted
                </label>
            </div>
            <div class="form-group">
                    <label asp-for="@item.Created" class="control-label"></label>
                    <input asp-for="@item.Created" class="form-control" />
                    <span asp-validation-for="@item.Created" class="text-danger"></span>
                </div>
            <div class="form-group">
                    <label asp-for="@item.ReleaseDate" class="control-label"></label>
                    <input asp-for="@item.ReleaseDate" class="form-control" />
                    <span asp-validation-for="@item.ReleaseDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
